<div id="UserHomeBody">
        <div id="LawyerHomeTopRow">
            <div id="MenuIcon">
                <img src="Hamburger_icon.png" alt="Menu" style="width:50px;height:50px;border:0;">
            </div>
            <div id="UserHomeTitle">
                <h1>Lawyer Home Page</h1>
            </div>
            <div id="userHomeQuestionMark">
                <img src="question-mark.jpg" alt="Question Mark" style="width:50px;height:50px;border:0;">
            </div>
            <div id="Logout">
                <a href="/">Logout</a>
            </div>

        </div>
        <br /><br />

              <div id="Cases">
                  <h2 id="CaseList">Current Claims List</h2>
                  <div>
                      <table id="CaseTable">
                          <tr>
                              <th>Case Number</th>
                              <th>Type</th>
                              <th>Status</th>
                          </tr>
                          <tr>
                              <td>12586395</td>
                              <td>Destruction of Property</td>
                              <td>Pending Response from Customer</td>
                          </tr>
                      </table>
                  </div>
                  <br />
                  <button id="NewDocumentationButton" type="button">Start New Documentation</button>
                  <br />
                  <h2>Want to Find More Customers?</h2>
                  <button id="FindALawyerButton" type="button"></button>
                  <br />
                  <h2>Answer Questions</h2>
                  <a href="/questionMain">View Questions</a>
                  <h2>Need to Change Information?</h2>
                  <a href="/updateLawyer">Update Profile</a>
              </div>
</div>
