<div id="bodyDiv">
        <div id="mainCenter">
		<div id="rightColumn">
            <div id="questionMark">
                <p>
				<a href="">
					<img src="question-mark.jpg" alt="Question Mark" style="width:50px;height:50px;border:0;">
				</a>
				</p>
            </div>
        </div>
            <div id="title">
			<br>
                <h2 id="mainTitle">Closing the Justice Gap</h2>
				<br>
				<h3 id="">Create an account</h2>
				
				<br><br><br>
            </div>

            <div id="updateUser">
                <form id="updateUserForm" action='/updateCurrentUser' method='POST'>
                    <p>
                        Username:
                        <input type="text" name="username" size="15" maxlength="50" />
                    </p>
					<br>
                    <p>
                        Old Password:
                        <input type="password" name="oldPassword" size="15" maxlength="50" /> 
                    </p>
					<br>
		    
		    <p>
                        New Password:
                        <input type="password" name="password" size="15" maxlength="50" /> 
                    </p>
					<br>
					<p>
                        Re-Submit New Password:
                        <input type="password" name="password2" size="15" maxlength="50" />
                    </p>
					<br>
					<p>
                        Email:
                        <input type="text" name="email" size="15" maxlength="50" />
                    </p>
					<br>
					<p>
                        Phone Number:
                        <input type="text" name="phone" size="15" maxlength="50" />
                    </p>
					<br>
					<p>
                        Address:
                        <input type="text" name="address" size="15" maxlength="50" />
                    </p>
					<br>
					<br>
                    <input type="submit" name="login" value="Update Account" />
					<br><br>
                </form>
            </div>


        </div>

    </div>
