  <div id="UserHomeBody">
        <div id="UserHomeTopRow">
            <div id="MenuIcon">
                <img src="Hamburger_icon.png" alt="Menu" style="width:50px;height:50px;border:0;">
            </div>
            <div id="UserHomeTitle">
                <h1>User Home Page</h1>
            </div>
            <div id="userHomeQuestionMark">
                <img src="question-mark.jpg" alt="Question Mark" style="width:50px;height:50px;border:0;">
            </div>
            <div id="Logout">
                <a href="/">Logout</a>
            </div>

        </div>
        <br /><br />

              <div id="ClaimsList">
                  <h2 id="ClaimsListHeader">Current Claims List</h2>
                  <div>
                      <table id="ClaimTable">
                          <tr>
                              <th>Filed</th>
                              <th>Type</th>
                              <th>Status</th>
                          </tr>
                          <tr>
                              <td>02-19-2022</td>
                              <td>Destruction of Property</td>
                              <td>Pending</td>
                          </tr>
                      </table>
                  </div>
                  <br />
                  <h2>Feel Like You Can File on Your Own?</h2>
                  <h2>(You Can Always Change Your Mind Later)</h2>
                  <br />
                  <button id="NewDocumentationButton" type="button">Start New Documentation</button>
                  <br />
                  <h2>Want to Talk to a Lawyer?</h2>
                  <button id="FindALawyerButton" type="button">Find a Lawyer</button>
                  <br />
                  <h2>Have a Question?</h2>
                  <a href="/questionMain">Ask A Question</a>
                  <h2>Need to Change Information?</h2>
                  <a href="/updateUser">Update Profile</a>
              </div>
    </div>
